version: "2.2"
services:
  # ----------------------------- 
  # MQTT Broker (Eclipse Mosquitto)
  # ----------------------------- 
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto-broker 
    restart: unless-stopped 
    ports: 
      - "1884:1883"   # MQTT port 
      - "9002:9001"   # optional WebSocket port 
    volumes:      
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf 
    healthcheck: 
      test: ["CMD", "mosquitto_sub", "-h", "localhost", "-t", "$$SYS/broker/version", "-C", "1"] 
      interval: 10s 
      timeout: 5s 
      retries: 5 
  # ----------------------------- 
  # Subfleet Manager Service 
  # ----------------------------- 
  subfleet-manager: 
    image: rdautov/ditto-submanager:amd64 
    container_name: ditto-submanager 
    restart: unless-stopped 
    volumes:
      - ./logs/:/app/logs/:rw
    depends_on: 
      - mosquitto 
    environment: 
      MQTT_BROKER_URL: mqtt://test.mosquitto.org:1883 # mqtt://mosquitto:1883 
      HOST_NAME: raspberrypi
      ALLOW_INSECURE_DOCKER: "true" 
      NODE_ENV: production  